# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/

# Environment
.env

# Data and Artifacts (Não enviar o dataset pesado)
data/*.csv
data/*.zip
artifacts/*.joblib
artifacts/*.pkl
artifacts/baseline.csv

# Exceções necessárias para o deploy (arquivos leves necessários na inicialização da API)
!artifacts/fraud_model.joblib
!artifacts/baseline.csv

# Database
*.sqlite
*.sqlite-journal

# Project specific
scratch/
.idea/
.vscode/
.DS_Store
